@import 'bourbon';
@import 'susy';
@import 'sfco-sass-utils';

$susy: (
	columns: 12,
	gutters: 0.5,
	debug: (
		image: show
	)
);

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: #EFEFEF;
	font-size: 62.5%;
}

html,
body {
	@include set( margin padding, 0 );
}

body {
	padding: 2rem;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

main {
	@include container( 80rem );
	@include dims( 94% auto );
}

// TYPE
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Archivo Black', Helvetica, Arial, sans-serif;
}

h1 {
	color: #222;
	font-size: 4.8rem;
	font-weight: 900;
}

p {
	margin-top: 0;

	font-size: 1.3rem;

	@media ( min-width: 768px ) {
		font-size: 1.6rem;
	}
}

button {
	min-width: 20rem;
	height: auto;
	color: #FFF;
	background-color: #2ecc71;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 4.4rem;
	transition: all 0.25s;
	cursor: pointer;

	// State
	@include on( hover focus ) {
		background: darken( #2ecc71, 5% );
	}
}

.example {
	@include dims( 100% auto );

	background-color: #FFF;
	box-shadow: 0 0.3rem 2rem -0.5rem rgba( #000, 0.25 );
	padding: 3rem;
	text-align: center;

	// Positional styles
	&:not( :last-child ) {
		margin-bottom: 2rem;
	}
}

.target-wrap {
	background-color: #EEE;
	border: 0.1rem solid #DDD;
	margin-bottom: 3rem;
	padding: 1rem 1.5rem 2rem;
	text-align: center;
}

.target {
	@include set( margin padding, 0 );
}
